<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZombieAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,404},{86,118}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,25},{86,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,314},{88,120}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{82,120}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,24},{82,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{84,118}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,25},{84,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,366},{86,118}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,25},{86,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,406},{88,116}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,27},{88,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,206},{88,120}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,38},{84,122}}</string>
                <key>offset</key>
                <string>{25,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,22},{84,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,84},{80,120}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,24},{80,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,330},{78,118}}</string>
                <key>offset</key>
                <string>{28,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,25},{78,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,492},{84,116}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,27},{84,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,250},{88,118}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,25},{88,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,242},{88,118}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,26},{88,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{86,122}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,22},{86,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,90},{88,120}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{88,120}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,86},{82,122}}</string>
                <key>offset</key>
                <string>{26,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,22},{82,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{80,120}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,24},{80,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{82,116}}</string>
                <key>offset</key>
                <string>{26,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,27},{82,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,454},{84,116}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,27},{84,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{88,120}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieDie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,232},{54,86}}</string>
                <key>offset</key>
                <string>{43,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,58},{54,86}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieDie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,32}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{166,32}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieDie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{66,64}}</string>
                <key>offset</key>
                <string>{29,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{66,64}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieDie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,576},{68,66}}</string>
                <key>offset</key>
                <string>{28,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,78},{68,66}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieDie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,590},{90,68}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,76},{90,68}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieDie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,474},{114,66}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,78},{114,66}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieDie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{126,64}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,80},{126,64}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieDie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,36},{140,48}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,95},{140,48}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieDie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{154,34}}</string>
                <key>offset</key>
                <string>{-6,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{154,34}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieDie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,34}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{166,34}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieHead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,664},{48,48}}</string>
                <key>offset</key>
                <string>{-40,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{48,48}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,566},{50,46}}</string>
                <key>offset</key>
                <string>{23,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,140},{50,46}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,566},{50,46}}</string>
                <key>offset</key>
                <string>{35,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,102},{50,46}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,566},{50,46}}</string>
                <key>offset</key>
                <string>{49,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,140},{50,46}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,664},{60,62}}</string>
                <key>offset</key>
                <string>{-36,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,522},{52,52}}</string>
                <key>offset</key>
                <string>{-24,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,468},{52,52}}</string>
                <key>offset</key>
                <string>{-15,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{52,52}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,392},{48,50}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,26},{48,50}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,664},{48,48}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,55},{48,48}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,338},{52,50}}</string>
                <key>offset</key>
                <string>{13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,85},{52,50}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,414},{52,52}}</string>
                <key>offset</key>
                <string>{15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,96},{52,52}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieHead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,614},{52,48}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,110},{52,48}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>ZombieLostHeadAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,644},{80,92}}</string>
                <key>offset</key>
                <string>{27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{80,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,490},{82,94}}</string>
                <key>offset</key>
                <string>{25,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,50},{82,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,410},{78,104}}</string>
                <key>offset</key>
                <string>{27,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,40},{78,104}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,682},{84,92}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,52},{84,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,566},{90,92}}</string>
                <key>offset</key>
                <string>{21,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,52},{90,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,416},{84,94}}</string>
                <key>offset</key>
                <string>{24,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,50},{84,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,442},{82,94}}</string>
                <key>offset</key>
                <string>{25,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,50},{82,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,606},{86,92}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,52},{86,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,568},{88,92}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,52},{88,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,574},{88,92}}</string>
                <key>offset</key>
                <string>{22,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,52},{88,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHeadAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,576},{86,92}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,52},{86,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,320},{52,92}}</string>
                <key>offset</key>
                <string>{21,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,52},{52,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,182},{60,96}}</string>
                <key>offset</key>
                <string>{22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,48},{60,96}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{58,94}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,50},{58,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,280},{60,94}}</string>
                <key>offset</key>
                <string>{21,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{60,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,376},{64,96}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,48},{64,96}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,500},{66,94}}</string>
                <key>offset</key>
                <string>{25,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,50},{66,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,694},{62,92}}</string>
                <key>offset</key>
                <string>{28,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,52},{62,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,600},{60,92}}</string>
                <key>offset</key>
                <string>{28,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,52},{60,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,718},{58,92}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,52},{58,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,86},{56,94}}</string>
                <key>offset</key>
                <string>{21,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,50},{56,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,134},{54,96}}</string>
                <key>offset</key>
                <string>{27,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,48},{54,96}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,658},{58,94}}</string>
                <key>offset</key>
                <string>{30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,49},{58,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,540},{64,94}}</string>
                <key>offset</key>
                <string>{30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,49},{64,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,526},{72,94}}</string>
                <key>offset</key>
                <string>{31,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,49},{72,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,502},{72,94}}</string>
                <key>offset</key>
                <string>{33,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,49},{72,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,496},{68,94}}</string>
                <key>offset</key>
                <string>{33,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,49},{68,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,662},{58,92}}</string>
                <key>offset</key>
                <string>{32,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,51},{58,92}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ZombieLostHead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,38},{56,94}}</string>
                <key>offset</key>
                <string>{29,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,50},{56,94}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{86,120}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,22},{86,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,244},{68,122}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,21},{68,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,296},{68,120}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,22},{68,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,340},{70,118}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,24},{70,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,338},{76,116}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,26},{76,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,578},{78,116}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,26},{78,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{76,116}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,26},{76,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{76,116}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,26},{76,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,332},{72,118}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,24},{72,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,180},{68,120}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,22},{68,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,168},{72,120}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,22},{72,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,240},{88,118}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{88,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,164},{74,120}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,22},{74,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{78,122}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,20},{78,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,124},{80,122}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,20},{80,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,166},{88,118}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,25},{88,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,412},{86,116}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,27},{86,116}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,256},{80,118}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,26},{80,118}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,86},{76,120}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,24},{76,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,92},{74,120}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,24},{74,120}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,170},{72,122}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,22},{72,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>Zombie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{68,122}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,21},{68,122}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b596d9cf123d597a1fb78b9e8a7de1$</string>
            <key>textureFileName</key>
            <string>zombie.png</string>
        </dict>
    </dict>
</plist>
