<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChomperAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,356},{80,90}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{80,90}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,286},{78,82}}</string>
                <key>offset</key>
                <string>{-25,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{78,82}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{76,78}}</string>
                <key>offset</key>
                <string>{-26,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{76,78}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,514},{74,76}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,35},{74,76}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,438},{76,76}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{76,76}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{92,112}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,80}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{128,80}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{118,86}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{118,86}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,286},{92,84}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{92,84}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{76,84}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,27},{76,84}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,372},{76,80}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,29},{76,80}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,438},{74,80}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{74,80}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,366},{74,82}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{74,82}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,442},{74,80}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{74,80}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,360},{76,84}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,27},{76,84}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,90},{98,92}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{98,92}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,272},{86,94}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{86,94}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,96},{92,98}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,98}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,190},{94,96}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,88},{98,92}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{98,92}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,182},{98,88}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{98,88}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{100,84}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,29},{100,84}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,184},{98,86}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{98,86}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{98,92}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{98,92}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,190},{94,96}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{92,98}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{92,98}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{88,96}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{88,96}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,272},{82,94}}</string>
                <key>offset</key>
                <string>{-24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{82,94}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chomper.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d83113f6e9ad5dcf26d317a32ac7335$</string>
            <key>textureFileName</key>
            <string>chomper.png</string>
        </dict>
    </dict>
</plist>
